<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        '마이피온'은 FIFA Online4의 비공식 iOS 어플리케이션입니다.<br><br>
        EA Sports 및 NEXON 개발 서비스(Development Services)기반으로 제작되었으며, NEXON Developers 서비스에 명시된 이용가이드를 준수하였음을 알려드립니다.<br>
        그 외 정보는 <a href="{{'/post/information' | relative_url}}"> 앱 소개 </a>, <a href="{{'/post/privacy-policy' | relative_url}}"> 개인정보 처리방침 </a>를 참고해주세요.
        <!-- Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>. -->
        </h3> 
</div> </div>

